.app-title {
    margin-top: 50px;
    text-align: center;
}

.control {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;

    .control__inputs {
        display: flex;
        gap: 15px;
    }
}

.contacts {
    margin-top: 50px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .contacts__item {
        width: 255px;
        height: 45px;
        background-color: black;
    }
}
