.app-title {
    margin-top: 50px;
    text-align: center;
}

.control {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;

    .control__inputs {
        display: flex;
        gap: 15px;
    }
}

.contacts {
    margin-top: 50px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;

    .contacts__card {
        position: relative;
        width: 255px;
        height: 45px;
        color: var(--c-primary);

        .card__container {
            width: 100%;
            padding: 9px 10px;
            height: 100%;
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            border: 1px solid var(--c-primary);
            border-radius: 7px;
            user-select: none;
            pointer-events: none;
            transition: background-color 0.3s ease-in;
        }

        .card__info {
            display: none;
            width: 100%;
            max-height: 350px;
            overflow: auto;
            border-radius: 7px;
            padding: 10px;
            position: absolute;
            top: 44px;
            background-color: var(--c-primary);
            box-shadow: 0 3px 3px 1px rgb(0 0 0 / 25%);
            z-index: 1;

            .contact {
                position: relative;
                padding: 10px 0;
                border-bottom: 1px solid var(--c-white);

                &:first-child {
                    border-top: 1px solid var(--c-white);
                }

                &:last-child {
                    border-bottom: unset;
                }

                .contact__text {
                    font-size: var(--fz-contact);
                }

                i {
                    position: absolute;
                    top: 10px;
                    color: var(--c-white);
                    cursor: pointer;

                    &.fa-pen {
                        right: 20px;
                        top: 11px;
                        font-size: 10px;
                    }

                    &.fa-xmark {
                        right: 0;
                        top: 9px;
                        font-size: 14px;
                    }
                }
            }
        }

        &.show {
            .card__container {
                height: 125%;
            }

            .card__info {
                display: block;
            }
        }

        &.filled {
            color: var(--c-white);
            transition: all 0.3s ease-in;

            .card__container {
                background-color: var(--c-primary);
                pointer-events: all;
                cursor: pointer;

                &:hover {
                    background-color: var(--c-primary-hovered);
                }
            }
        }
    }
}

.modal--edit {
    .modal--edit__inputs {
        display: flex;
        gap: 10px;

        .input {
            max-width: unset;
        }
    }
}
