.app-title {
    margin-top: 50px;
    text-align: center;
}

.control {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;

    .control__inputs {
        display: flex;
        gap: 15px;
    }
}

.contacts {
    margin-top: 50px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .contacts__card {
        position: relative;
        width: 255px;
        height: 45px;
        border-radius: 7px;
        border: 1px solid var(--c-primary);
        color: var(--c-primary);

        .card__container {
            padding: 5px 10px;
            position: absolute;
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        &.filled {
            background-color: var(--c-primary);
            color: var(--c-white);
            transition: all 0.3s ease-in;

            .card__container {
                cursor: pointer;
            }

            &:hover {
                background-color: var(--c-primary-hovered);
            }
        }

        .card__info {
            width: calc(100% + 2px);
            max-height: 350px;
            overflow: auto;
            left: -1px;
            border-radius: 7px;
            padding: 10px;
            display: block;
            position: absolute;
            top: 32px;
            background-color: var(--c-primary);
            z-index: 1;

            .contact {
                position: relative;
                padding: 10px 0;
                border-bottom: 1px solid var(--c-white);

                &:first-child {
                    border-top: 1px solid var(--c-white);
                }

                &:last-child {
                    border-bottom: unset;
                }

                .contact__text {
                    font-size: var(--fz-contact);
                }

                i {
                    position: absolute;
                    top: 10px;
                    right: 0;
                    font-size: var(--fz-contact);
                    color: var(--c-white);
                    cursor: pointer;
                }
            }
        }
    }
}
